@media screen and (max-width: 870px) {
  .book {
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 870px) and (max-width: 1300px) {
  .book {
    width: 43%;
    max-width: 43%;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1910px) {
  .book {
    width: 28.5%;
    max-width: 28.5%;
  }
}
@media screen and (min-width: 1910px) and (max-width: 1920px) {
  .book {
    width: 22%;
    max-width: 22%;
  }
}
.book-flex-container {
  display: flex;
  background: #fff;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: stretch;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.flex-block {
  display: flex;
  text-align: center;
  position: relative;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.representation-book {
  text-align: left;
  flex-basis: 185px;
}
.photo {
  text-align: left;
  flex-basis: 185px;
  margin-right: 5px;
}
.book {
  display: flex;
  text-align: center;
  position: relative;
  border: 2px solid #333333;
  min-width: 370px;
  margin: 20px;
  padding: 6.66666667px;
  box-shadow: #333333 0 0 10px 0;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.book:hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
}
.shadow {
  box-shadow: #333333 0 0 10px 0;
}
#bookImg {
  border: 1px solid #333333;
  width: 173.9px;
  height: 246.66666667px;
}
#bookHref:hover {
  background-color: transparent;
}
.lang-img {
  width: 52.85714286px;
  height: 37px;
}
li {
  display: inline;
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  background-color: #0079aa;
}
ul {
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  background-color: #333333;
}
body {
  margin: 0;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
  min-width: 370px;
}
.my-select {
  display: inline-block;
  background: #0C617F;
}
.margin {
  margin: 10px;
}
.margin-top {
  margin-top: 10px;
}
.margin-left {
  margin-left: 20px;
}
.no-margin {
  margin: 0;
}
.big-margin-top {
  margin-top: 80px;
}
.small-margin-left {
  margin-left: 5px;
}
.margin-form {
  margin: 10px;
  margin-top: 20px;
  margin-left: 20px;
}
.button {
  background-color: #fff;
  color: white;
  padding: 8px 20px;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid #333333;
  -webkit-text-fill-color: #333333;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover {
  background-color: #35bdee;
}
.button:active {
  background-color: #0079aa;
}
.filter-button {
  height: 93px;
  border-radius: 2px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.disabled {
  background-color: #E8EAEB;
  opacity: 0.7;
}
.relative-to-right-bottom-corner {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.get-to-read {
  background-color: #fff;
  color: white;
  padding: 8px 20px;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid #333333;
  -webkit-text-fill-color: #333333;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.get-to-read:active {
  background-color: #20c93f;
}
.occupied {
  -webkit-text-fill-color: #E03C34;
  font-size: 16px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.filter {
  margin-inside: 0;
  border: 2px solid #333333;
  border-radius: 2px;
  align-items: center;
  display: inline;
  height: 83px;
  margin: 10px;
  margin-left: 20px;
}
.tag-label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  margin-right: 0;
  text-align: center;
  font-size: 18px;
}
input[type=checkbox] {
  display: none;
  size: 0 0;
}
input[type=checkbox]:checked + label:before {
  content: url("http://i.imgur.com/JKDnXR0.png");
  color: #20c93f;
}
input[type=checkbox] + label:before {
  content: url("http://i.imgur.com/RBqtKi3.png");
  color: #20c93f;
}
.tag-button {
  outline: none;
  background-color: #139BCC;
  color: white;
  display: inline;
  border: 1px solid #0079aa;
  border-radius: 5px;
  padding: 3px 5px 3px 5px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.tag-button:active {
  background-color: #42EB61;
}
.search-tag {
  background-color: #fff;
  color: white;
  padding: 8px 20px;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid #333333;
  -webkit-text-fill-color: #333333;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 8px 10px;
  height: 10px;
  cursor: text;
  margin-bottom: 10px;
  text-align: left;
}
.input1::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  -webkit-text-fill-color: gray;
}
.input1:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  -webkit-text-fill-color: gray;
}
.input1:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.input1:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.search {
  background-color: #fff;
  color: white;
  padding: 8px 20px;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid #333333;
  -webkit-text-fill-color: #333333;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 8px 10px;
  height: 10px;
  cursor: text;
  margin-bottom: 10px;
  text-align: left;
  height: 30px;
  width: 185px;
}
.form-filter {
  display: flex;
  flex-flow: wrap;
}
.field-set2 {
  width: 120px;
}
.column-flex {
  display: flex;
  flex-flow: column;
}
.column-flex-align-end {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.row-flex {
  display: flex;
  flex-flow: wrap;
  flex-flow: row;
  align-items: center;
}
.row-flex-align-start {
  display: flex;
  flex-flow: wrap;
  flex-flow: row;
  align-items: center;
  align-items: stretch;
}
.alone-book {
  width: 450px;
  height: 600px;
}
.reset {
  margin: 0;
  padding: 0;
}
h1,
h3 {
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
.ribbon-new {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
}
.img-ribbon-new {
  width: 50px;
  height: 50px;
  position: absolute;
}
.border-book {
  border: 1px solid #333333;
}
.description-book {
  width: 130px;
  min-width: 130px;
  text-align: right;
  padding-right: 5px;
  margin: 0;
}
.book-min-width {
  min-width: 450px;
}
.img-language-ru-ru {
  content: url('../images/russia_640.png');
}
.img-language-en-gb {
  content: url('../images/united_kingdom_640.png');
}
.error {
  font-size: large;
  color: red;
  margin: 10px;
}
.fixed-height {
  min-height: 130px;
  height: 130px;
}
.info {
  color: #00a71d;
}
.button-fixed-width {
  width: 140px;
}
.animate-enter,
.animate-leave {
  -webkit-transition: 950ms cubic-bezier(0.42, 0, 0.58, 1) all;
  -moz-transition: 950ms cubic-bezier(0.42, 0, 0.58, 1) all;
  -o-transition: 950ms cubic-bezier(0.42, 0, 0.58, 1) all;
  transition: 950ms cubic-bezier(0.42, 0, 0.58, 1) all;
  position: relative;
  display: block;
}
.animate-enter.animate-enter-active,
.animate-leave {
  opacity: 1;
  top: 0;
  height: 30px;
}
.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  top: -50px;
  height: 0;
}
.show-block {
  -webkit-animation: show-block 2s forwards;
  animation: show-block 2s forwards;
}
.hide-block {
  -webkit-animation: hide-block 2s forwards;
  animation: hide-block 2s forwards;
}
@keyframes hide-block {
  30% {
    opacity: 0;
    max-width: 28.5%;
    border: 2px solid #333333;
    margin: 20px;
    padding: 6.66666667px;
  }
  to {
    max-width: 0;
    opacity: 0;
    border: 0;
    min-width: 0;
    margin: 0;
    padding: 0;
  }
}
@keyframes show-block {
  from {
    opacity: 0;
    max-width: 0;
    min-width: 0;
    border: 0;
    margin: 0;
    padding: 0;
  }
  70% {
    opacity: 0;
    max-width: 28.5%;
    min-width: 370px;
    border: 2px solid #333333;
    margin: 20px;
    padding: 6.66666667px;
  }
  to {
    opacity: 0.9;
    max-width: 28.5%;
    min-width: 370px;
    border: 2px solid #333333;
    margin: 20px;
    padding: 6.66666667px;
  }
}
