.my-flex-container {
  display: flex;
  background: #fff;
  counter-reset: my-flex-block-counter;
  justify-content: flex-start;
  flex-flow: row wrap;
}
.my-flex-block {
  display: flex;
  text-align: center;
  position: relative;
}
.representaionBook {
  text-align: left;
  flex-grow: 12;
  flex-basis: 150px;
}
.photo {
  text-align: left;
  flex-grow: 12;
  flex-basis: 150px;
  margin-right: 5px;
}
.book {
  display: flex;
  text-align: center;
  position: relative;
  flex-basis: 350px;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: space-around;
  border: 2px solid #333333;
  min-width: 300px;
  margin: 20px;
  padding: 6.66666667px;
  box-shadow: #333333 0 0 10px 0;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}
.book:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.shadow {
  box-shadow: #333333 0 0 10px 0;
}
#bookImg {
  width: 150px;
  height: 200px;
}
#langImg {
  width: 42.85714286px;
  height: 30px;
}
li {
  display: inline;
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  background-color: #0079aa;
}
ul {
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  background-color: #333333;
}
body {
  margin: 0;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}
.my-select {
  display: inline-block;
  background: #0C617F;
}
.margin {
  margin: 10px;
}
.margin-top {
  margin-top: 10px;
}
.margin-left {
  margin-left: 20px;
}
.small-margin-left {
  margin-left: 5px;
}
.marginForm {
  margin: 10px;
  margin-top: 20px;
  margin-left: 20px;
}
.button {
  background-color: #fff;
  color: white;
  padding: 8px 20px;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid #333333;
  -webkit-text-fill-color: #333333;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover {
  background-color: #35bdee;
}
.button:active {
  background-color: #0079aa;
}
.filterButton {
  height: 93px;
  border-radius: 2px;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.disabled {
  background-color: #E8EAEB;
  opacity: 0.7;
}
.relativeToRightBottomCorner {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.getToRead {
  background-color: #fff;
  color: white;
  padding: 8px 20px;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid #333333;
  -webkit-text-fill-color: #333333;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.getToRead:active {
  background-color: #20c93f;
}
.occupied {
  -webkit-text-fill-color: #E03C34;
  font-size: 16px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.filter {
  margin-inside: 0;
  border: 2px solid #333333;
  border-radius: 2px;
  align-items: center;
  display: inline;
  height: 83px;
  margin: 10px;
  margin-left: 20px;
}
.tagLabel {
  display: inline-block;
  cursor: pointer;
  position: relative;
  margin-right: 0;
  text-align: center;
  font-size: 18px;
}
.afterCheckBox {
  margin-right: 10px;
}
input[type=checkbox] {
  display: none;
  size: 0 0;
}
input[type=checkbox]:checked + label:before {
  content: url("http://i.imgur.com/JKDnXR0.png");
  color: #20c93f;
}
input[type=checkbox] + label:before {
  content: url("http://i.imgur.com/RBqtKi3.png");
  color: #20c93f;
}
.tagButton {
  outline: none;
  background-color: #139BCC;
  color: white;
  display: inline;
  border: 1px solid #0079aa;
  border-radius: 10px;
  padding: 3px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.tagButton:active {
  background-color: #42EB61;
}
.searchTag {
  background-color: #fff;
  color: white;
  padding: 8px 20px;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid #333333;
  -webkit-text-fill-color: #333333;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  height: 10px;
  cursor: text;
  margin-bottom: 10px;
  text-align: left;
}
.input1::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  -webkit-text-fill-color: gray;
}
.input1::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  -webkit-text-fill-color: gray;
}
.input1:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  -webkit-text-fill-color: gray;
}
.input1:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
  -webkit-text-fill-color: gray;
}
.input1:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.input1:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.input1:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.input1:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.search {
  background-color: #fff;
  color: white;
  padding: 8px 20px;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid #333333;
  -webkit-text-fill-color: #333333;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  height: 10px;
  cursor: text;
  margin-bottom: 10px;
  text-align: left;
  height: 30px;
  width: 100px;
}
.formFilter {
  display: flex;
  flex-flow: wrap;
}
.fieldset2 {
  width: 120px;
}
#firstColumn {
  display: flex;
  flex-flow: column;
}
#spanRow {
  display: flex;
  flex-flow: wrap;
  flex-flow: row;
  align-items: center;
}
